.textField1ZC {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	color: #6E6E6E;
	border: 1px solid #6E6E6E;
	background-color: #F2F2F2;

}
.button1ZC {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	color: #0000DC;
	background-color: #F2F2F2;
	padding-top: 2px;
	border-top: 1px solid #DDDDDD;
	border-right: 1px solid #6E6E6E;
	border-bottom: 1px solid #6E6E6E;
	border-left: 1px solid #DDDDDD;
	cursor: hand;
}
.button2ZC {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	color: #FFFFFF;
	background-color: #FF0000;
	padding-top: 2px;
	border-top: 1px solid #DDDDDD;
	border-right: 1px solid #6E6E6E;
	border-bottom: 1px solid #6E6E6E;
	border-left: 1px solid #DDDDDD;
	cursor: hand;

}
.updatetd{ 
font-size: 14px; 
color: #FFFFFF; 
BORDER-RIGHT: #f6f6f6 1px solid; /* 显示右边框为1px，如果不想显示就为0px */ 
border-top:11px #fff  solid; /* 显示上边框为1px，如果不想显示就为0px */ 
BORDER-LEFT: #f9f9f9 0px solid;/* 显示左边框为1px，如果不想显示就为0px */ 
BORDER-BOTTOM: #f5f5f5 0px solid;/* 显下右边框为1px，如果不想显示就为0px */ 
} 
.cn_date{ 
padding-right:20px; 
border:1px solid #ccc;
background-image:url(/images/icon.png);
height:22px; line-height:22px; padding-right:20px; 
border:1px solid #C6C6C6; background-repeat:no-repeat;
background-position:right center;  background-color:#fff; outline:0; 
}