.textField1ZC {
	font-family:"黑體", "宋體", "仿宋_GB2312", "楷體_GB2312", "MingLiU";
	font-size: 12px;
	color: #6E6E6E;
	border: 1px solid #6E6E6E;
	background-color: #F2F2F2;

}
.button1ZC {
	font-family:"黑體", "宋體", "仿宋_GB2312", "楷體_GB2312", "MingLiU";
	font-size: 12px;
	color: #0000DC;
	background-color: #F2F2F2;
	padding-top: 2px;
	border-top: 1px solid #DDDDDD;
	border-right: 1px solid #6E6E6E;
	border-bottom: 1px solid #6E6E6E;
	border-left: 1px solid #DDDDDD;
	cursor: hand;
}
.button2ZC {
	font-family:"黑體", "宋體", "仿宋_GB2312", "楷體_GB2312", "MingLiU";
	font-size: 12px;
	color: #FFFFFF;
	background-color: #FF0000;
	padding-top: 2px;
	border-top: 1px solid #DDDDDD;
	border-right: 1px solid #6E6E6E;
	border-bottom: 1px solid #6E6E6E;
	border-left: 1px solid #DDDDDD;
	cursor: hand;

}
