﻿a.link1ZC:link {  
	font-size: 12px; 
	color: #808080; 
}
a.link1ZC:visited {  
	font-size: 12px; 
	color: #808080; 
}
a.link1ZC:hover {
	font-size: 12px;
	color: #005AFF;
}
a.link2ZC:link {  
	font-size: 12px;
	color: #0000DC;
	text-decoration: underline;
	line-height: 24px;
}
a.link2ZC:visited {  
	font-size: 12px;
	color: #0000DC;
	text-decoration: underline;
	line-height: 24px;
}
a.link2ZC:hover {
	font-size: 12px;
	color: #FC7216;
	text-decoration: underline;
	line-height: 24px;
}

a.link3ZC:link {  
	font-size: 12px;
	color: #0000CD;
	text-decoration: underline;
	line-height: 20px;
}
a.link3ZC:visited {  
	font-size: 12px;
	color: #008B8B;
	text-decoration: underline;
	line-height: 20px;
}
a.link3ZC:hover {
	font-size: 12px;
	color: #00CED1;
	text-decoration: underline;
	line-height: 20px;
}

a.link3EN:link {  
	font-size: 11px;
	color: #0000DC;
	text-decoration: underline;
	line-height: 20px;
}
a.link3EN:visited {  
	font-size: 11px;
	color: #0000DC;
	text-decoration: underline;
	line-height: 20px;
}
a.link3EN:hover {
	font-size: 11px;
	color: #FC7216;
	text-decoration: underline;
	line-height: 20px;
}

a.link4ZC:link {  
	font-size: 12px;
	color: #0000DC;
	text-decoration: none;
	line-height: 20px;
}
a.link4ZC:visited {  
	font-size: 12px;
	color: #0000DC;
	text-decoration: none;
	line-height: 20px;
}
a.link4ZC:hover {
	font-size: 12px;
	color: #FC7216;
	text-decoration: underline;
	line-height: 20px;
}

a.link5ZC:link {  
	font-size: 12px;
	color: #0000CD;
	line-height: 12px;
}
a.link5ZC:visited {  
	font-size: 12px;
	color: #008B8B;
	line-height: 12px;
}
a.link5ZC:hover {
	font-size: 12px;
	color: #00CED1;
	line-height: 12px;
}

a.link6ZC:link {  
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: underline;
	line-height: 20px;
}
a.link6ZC:visited {  
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: underline;
	line-height: 20px;
}
a.link6ZC:hover {
	font-size: 12px;
	color: #000000;
	text-decoration: underline;
	line-height: 20px;
}
a.link7ZC:link {
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	line-height: 20px;
}
a.link7ZC:visited {
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	line-height: 20px;
}
a.link7ZC:hover {
	font-size: 12px;
	color: #FC7216;
	text-decoration: underline;
	line-height: 20px;
}
a.linkH1ZC:link {  
	font-size: 13px;
	color: #FF7216;
	text-decoration: underline;
	font-weight: bold;
}
a.linkH1ZC:visited {  
	font-size: 13px;
	color: #FF7216;
	text-decoration: underline;
	font-weight: bold;
}
a.linkH1ZC:hover {
	font-size: 13px;
	color: #000096;
	text-decoration: underline;
	font-weight: bold;
}
