.printC1 {
	font-family: "黑體", "宋體", "仿宋_GB2312", "楷體_GB2312", "MingLiU";
	font-size: 10px;
}

.printH1{
	page-break-before: always;
	font-family: "黑體", "宋體", "仿宋_GB2312", "楷體_GB2312", "MingLiU";
	font-size: 12px;
	color: #000096;
	font-weight: bold;
}

.printH1NoPageBreak{
	font-family: "黑體", "宋體", "仿宋_GB2312", "楷體_GB2312", "MingLiU";
	font-size: 12px;
	color: #000096;
	font-weight: bold;
}

