.printC1 {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 10px;
}

.printH1{
	page-break-before: always;
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	color: #000096;
	font-weight: bold;
}

.printH1NoPageBreak{
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	color: #000096;
	font-weight: bold;
}

