﻿.copyrightZC {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 11px;
	color: #808080;
}
.contentNZC {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 11px;
	color: #808080;
	line-height: 20px;
	BORDER-RIGHT: #f6f6f6 1px solid; /* 显示右边框为1px，如果不想显示就为0px */ 
  border-top:11px #fff  solid; /* 显示上边框为1px，如果不想显示就为0px */ 
  BORDER-LEFT: #f9f9f9 0px solid;/* 显示左边框为1px，如果不想显示就为0px */ 
  BORDER-BOTTOM: #f5f5f5 0px solid;/* 显下右边框为1px，如果不想显示就为0px */ 
}
#contentID {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 11px;
	color: #808080;
	line-height: 20px;
	BORDER-RIGHT: #f6f6f6 0px solid; /* 显示右边框为1px，如果不想显示就为0px */ 

}
.contentNEN {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 11px;
	color: #808080;
	line-height: 20px;
}
.contentNEN3 {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 11px;
	color: #808080;
	line-height: 14px;
}


.contentNZC2 {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 14px;
	color: #808080;
	line-height: 18px;

}
.contentNZC3 {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	color: #808080;
	line-height: 14px;
}

.H1ZC {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 13px;
	color: #FF7216;
	font-weight: bold;
}
.H2ZC {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 16px;
	color: #50565B;
	text-align: justify;
	line-height: 18px;
}
.H3ZC {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 15px;
	color: #B2004D;
	text-align: justify;
	line-height: 18px;
	font-weight: bold;
	letter-spacing: 2px;
}
.bullet1ZC {
	list-style-type: square;
	color: #FF7110;
	margin-bottom: -3px;


}
.button3ZC {

	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	color: #6B6B6B;
	background-color: #F2F2F2;
	padding-top: 2px;
	border-top: 1px solid #DDDDDD;
	border-right: 1px solid #6E6E6E;
	border-bottom: 1px solid #6E6E6E;
	border-left: 1px solid #DDDDDD;
	cursor: hand;
}
.blog	{
	font-family: "楷体";
	font-size: 18px;
	text-indent: 0.9cm;
	line-height: 24px;
	color:#005544;
}
.company {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	color: #8080dd;
	line-height: 16px;
}

.contentWM {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 15px;
	color: #808080;
	line-height: 20px;
}

.H1ZC2 {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 11px;
	color: #FF7216;
}

#INPU{ background:#CCCCCC;
}

