﻿.copyrightZC {
	font-family: "黑體", "宋體", "仿宋_GB2312", "楷體_GB2312", "MingLiU";
	font-size: 11px;
	color: #808080;
}
.contentNZC {
	font-family: "黑體", "宋體", "仿宋_GB2312", "楷體_GB2312", "MingLiU";
	font-size: 12px;
	color: #808080;
	line-height: 20px;
}
.contentNEN {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 11px;
	color: #808080;
	line-height: 20px;
}
.contentNEN3 {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 11px;
	color: #808080;
	line-height: 14px;
}


.contentNZC2 {
	font-family: "黑體", "宋體", "仿宋_GB2312", "楷體_GB2312", "MingLiU";
	font-size: 14px;
	color: #808080;
	line-height: 18px;

}
.contentNZC3 {
	font-family: "黑體", "宋體", "仿宋_GB2312", "楷體_GB2312", "MingLiU";
	font-size: 12px;
	color: #808080;
	line-height: 14px;
}

.H1ZC {
	font-family: "黑體", "宋體", "仿宋_GB2312", "楷體_GB2312", "MingLiU";
	font-size: 13px;
	color: #FF7216;
	font-weight: bold;
}
.H2ZC {
	font-family: "黑體", "宋體", "仿宋_GB2312", "楷體_GB2312", "MingLiU";
	font-size: 16px;
	color: #50565B;
	text-align: justify;
	line-height: 18px;
}
.H3ZC {
	font-family: "黑體", "宋體", "仿宋_GB2312", "楷體_GB2312", "MingLiU";
	font-size: 15px;
	color: #B2004D;
	text-align: justify;
	line-height: 18px;
	font-weight: bold;
	letter-spacing: 2px;
}
.bullet1ZC {
	list-style-type: square;
	color: #FF7110;
	margin-bottom: -3px;


}
.button3ZC {

	font-family:"黑體", "宋體", "仿宋_GB2312", "楷體_GB2312", "MingLiU";
	font-size: 12px;
	color: #6B6B6B;
	background-color: #F2F2F2;
	padding-top: 2px;
	border-top: 1px solid #DDDDDD;
	border-right: 1px solid #6E6E6E;
	border-bottom: 1px solid #6E6E6E;
	border-left: 1px solid #DDDDDD;
	cursor: hand;
}
