<script src="/static/jquery/jquery.min.js"></script>
<script src="/static/TweenMax.min.js"></script>
<div class="wrapper">
	<div class="panel">
		<div class="panel__content-col">
			<div class="panel__content">
				<div class="panel__text">
					<h1 class="panel__title">SUGA PO Portal</h1>
					<p class="panel__addr"><span></span>8 Fulong Road, Qingxi Town, Dongguan City, Guangdong Province</p>
				</div>
				<div class="panel__line"></div>
			</div>
		</div>
		<div class="panel__img-col">
			<img src="/images/new_banner.jpg" alt="Double Win" class="panel__img">
		</div>
	</div>
</div>
<style>
	html {
		box-sizing: border-box;
	}

	*,
	*:before,
	*:after {
		box-sizing: inherit;
	}

	html,
	body {
		width: 100%;
		height: 100%;
	}

	body {
		background-color: #fff;
		color: #6ac0e8;
		font-size: 18px;
		-webkit-font-feature-settings: "kern"1, "liga"1, "frac"1, "lnum"1;
		font-feature-settings: "kern"1, "liga"1, "frac"1, "lnum"1;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		margin: 0px;
	}

	h1 {
		font-family: 'Playfair Display', serif;
		font-size: 96px;
	}

	p {
		font-family: 'Lato', sans-serif;
	}

	.wrapper {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		padding: 5vh 5%;
	}

	.panel {
		position: relative;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		width: 100%;
		max-width: 1200px;
		height: 466px;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		pointer-events: none;
	}

	.panel__content-col {
		-ms-flex-preferred-size: 25%;
		flex-basis: 25%;
	}

	.panel__content {
		position: absolute;
		top: 26%;
		left: 0;
		z-index: 2;
		width: 100%;
	}

	.panel__text {
		display: inline-block;
		text-align: right;
	}

	.panel__img-col {
		-ms-flex-preferred-size: 70%;
		flex-basis: 70%;
		box-shadow: 0px 20px 100.28px 8.72px rgba(0, 0, 0, 0.35);
	}

	.panel__title {
		margin: 0;
	}

	.panel__addr {
		position: relative;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		margin: 16px 0 0;
		-webkit-box-pack: end;
		-ms-flex-pack: end;
		justify-content: flex-end;
	}

	.panel__addr span {
		display: block;
		margin: 9px 14px 0 0;
		height: 1px;
		width: 30px;
		background-color: #fff;
	}

	.panel__line {
		width: 64%;
		height: 3px;
		margin: 24px 0 0 36%;
		background-color: #fff;
	}

	.panel__img-col {
		width: 100%;
	}

	.panel__img {
		display: block;
		width: 100%;
		height: 100%;
		-o-object-fit: cover;
		object-fit: cover;
	}
</style>

<script>
	var $body = $("body"),
		$panel = $(".panel"),
		$pContent = $(".panel__content"),
		$img = $(".panel__img-col");

	function initTilt() {
		TweenMax.set([$pContent, $img], {
			transformStyle: "preserve-3d"
		});
		var rate = 0.10
		$body.parent().parent().mousemove(function(e) {
			var sxPos = e.clientX / $panel.width() * 100 - 100;
			var syPos = e.clientY / $panel.height() * 100 - 100;
			TweenMax.to($pContent, 2, {
				rotationY: rate * sxPos,
				rotationX: -rate * syPos,
				transformPerspective: 500,
				transformOrigin: "center center -400",
				ease: Expo.easeOut
			});
			TweenMax.to($img, 2, {
				rotationY: rate * sxPos,
				rotationX: -rate * syPos,
				transformPerspective: 500,
				transformOrigin: "center center -200",
				ease: Expo.easeOut
			});
		});
	}

	initTilt();
</script>
