<!DOCTYPE html>
<html lang="zh">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<title>个人简介</title>
	</head>
	<body>
		<div id="app" v-bind:title="title">
			{{ message.a }}
			<ol>
				<!--
		      现在我们为每个 todo-item 提供 todo 对象
		      todo 对象是变量，即其内容可以是动态的。
		      我们也需要为每个组件提供一个“key”，稍后再
		      作详细解释。
		    -->
				<todo-item v-for="item in groceryList" v-bind:todo="item"></todo-item>
			</ol>
			<input type="text" v-model="rawHtml">
			<div v-html="rawHtml" style="border: 1px solid #000;" v-bind:height="height"></div>
		</div>
	</body>
	<script>
		var message	= {a: 'Hello Fucker!'};
		Vue.component('todo-item', {
			props: ['todo'],
			template: '<li>{{ todo.text }}</li>'
		})
		var app = new Vue({
			el: '#app',
			data: {
				message: message,
				title: '页面加载于：' + new Date().toLocaleString(),
				groceryList: [
					{id: 0, text: 'Fuckyou'},
					{id: 1, text: 'Bitch'},
					{id: 2, text: 'Yeah'},
				],
				rawHtml: 'write something here!',
				height: window.height,
				seen: false,
			}
		});
		
		app.groceryList = [
			{id: 1, text: 'Bitch'},
			{id: 0, text: 'Fuckyou'},
			{id: 2, text: 'Yeah'},
		]
		
		app.groceryList.reverse()
		
		// app.message = message
		message.a = 'Fuck You'
	</script>
</html>
